extends layout

block content
  h2 IP demo use iframe

  div
    div
      label(for="username") Enter phone number
    div(style="margin-top: 20px")
      input(id="phone-number" value="999123456789")
    div(style="margin-top: 20px")
      button.btn-login Login

block scripts
  script(src="/javascripts/login.js")
